.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background-image: url(../../assets/404.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
